
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Dhwani</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="bg">
    <nav class="navbar">
        <div class="logo">
            <a href="home.html"><img src="us\Black_And_White_Modern_Theatre_Logo_2.png" alt="" class="logo-img"></a>
            
        </div>
        <div class="nav-content">
            <!-- <div class="nav-content1">
                <a href="home.html" class="nav-text"><p>Home</p></a>
             
                <a href="#footer" class="nav-text"><p>Contact</p></a>
               
            </div> -->
            <div class="nav-acc">
                                    
                    <a href="/" class="nav-text"><p>Home</p></a>
                    <a href="#footer" class="nav-text"><p>Contact</p></a>
                    <a href="/login" class="nav-text"><p>Login</p></a>
                    <a href="/register"><p class="create">Create an account</p></a>
               
            </div>
        </div>
    </nav>

    <div class="main">
        
        <div class="main-section-1">
            <div class="main-section-1-a">
                    
                    <img src="us\zoro.png" class="marvel" alt="" srcset="">
            </div>
            <div class="main-section-1-b">
                <p class="text-1">Unlimited Access to 100k Movies</p>
                <p class="lorem-1">We understand the importance of quality content, and therefore, we collaborate with renowned studios and production houses to bring you the best movies available. From Hollywood blockbusters to independent gems, our collection encompasses a wide range of cinematic masterpieces that guarantee to captivate and entertain you.</p>
                <br><br>
                <a href="login.html" class="tryit">Try it Now</a>
            </div>
        </div>

        <div class="main-section-2">
            <!-- <img src="us\zoro-bg.jpg" class="marvel1" alt="" srcset=""> -->
            <div class="main-section-2-a">
                <p class="text-1">Watch Everything</p>
                <p class="lorem-1">Welcome to our movie streaming website! We are your ultimate destination for an immersive and convenient movie-watching experience. With a vast collection of films from various genres, we strive to cater to the diverse tastes and preferences of our users.</p>   
                    
            </div>
            <div class="main-section-1-b">
                
               
                <img src="us\marvel.png" class="marvel mar" alt="" srcset="">
                
            </div>
        </div>


        

        
        <div class="main-section-3">
            <div class="section-3-a">
                <h2>Our Movies & Genre</h2>
                <p>Whether you're a fan of action, romance, comedy, sci-fi, or any other genre, our movie streaming website has something for everyone. So you'll never run out of options.</p>
            </div>
            <div class="section-3-b">
                <div class="section-3-card">
                    <img src="us\poster1.jpg" class="section-3-card img" alt="">
                    <h4 class="head4">Sc-fi</h4>
                </div>
                <div class="section-3-card">
                    <img src="us\poster2.jpg" class="section-3-card img" alt="">
                    <h4 class="head4">Animations</h4>
                </div>
                <div class="section-3-card">
                    <img src="us\poster3.jpg" class="section-3-card img" alt="">
                    <h4 class="head4">Comedy</h4>
                </div>
                <div class="section-3-card">
                    <img src="us\poster4.jpg" class="section-3-card img" alt="">
                    <h4 class="head4">Horror</h4>
                </div>
            </div>
        </div>
        
    
    </div>
    <div class="footer" id="footer">
        <div class="box-container">
            <div class="box"> 
                    <a href="home.html" class="foot-logo">
                    <img src="us\Black_And_White_Modern_Theatre_Logo_2.png" alt="" class="logo-img">
                    <!-- <span>dhwani</span> -->
                    </a> 
                <p>COPYRIGHT ©2023 ALL RIGHTS RESERVED.</p>
                <div class="share">
                    <a href="#" class="foot-icon"><i class=" foot-icons fab fa-facebook"></i></a>
                    <a href="#" class="foot-icon"><i class=" foot-icons fab fa-twitter"></i></a>
                    <a href="#" class="foot-icon"><i class=" foot-icons fab fa-instagram"></i></a>
                    <a href="#" class="foot-icon"><i class=" foot-icons fab fa-linkedin"></i></a>
                </div>
            </div>
    
            <div class="box">
                <h3>Contact info</h3>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#" class="links"> <i class="fas fa-envelope"></i> datmov69@gmail.com</a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Siliguri, India - 734001 </a>
            </div>
    
            <div class="box">
                <h3>Quick links</h3>
                <a href="home.html" class="links"> <i class="fas fa-arrow-right"></i> Home </a>
                <!-- <a href="#about" class="links"> <i class="fas fa-arrow-right"></i> About Us </a> -->
                <a href="login.html" class="links"> <i class="fas fa-arrow-right"></i> Log in </a>
                
            </div>
        </div>
    </div>
</body>
</html>